{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block dream %}

{% endblock dream %}

{% block content %}
    <section class="listings">
        <div class="wrapper">
            <h1>About us!!!</h1>
            <p>Hello! We are very professional realtors!</p>
        </div>
    </section>

{% endblock content %}

