{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block dream %}

{% endblock dream %}

{% block content %}
    <section class="listings">
        <div class="wrapper">
            <ul class="properties_list">
                {% for room in rooms %}
                    {#{% include "AcmeDemoBundle:Welcome:room.html.twig" %}#}
                    {{ render(controller(
                        'AcmeDemoBundle:Welcome:view',
                        {'id': loop.index0 }
                    ))  }}
                {% endfor %}
            </ul>
            <div class="more_listing">
                <a href="#" class="more_listing_btn">View More Listings</a>
            </div>
        </div>
    </section>	<!--  end listing section  -->

{% endblock content %}

